.classpath
.metadata
.settings
bin/
*.class
*.dat
*.json
*.xml


# Package Files #
*.jar
!lib/.jar
*.war
*.ear

# Misc #
*.zip
*.tar.gz
*.tar.bz

#intellij
*.idea
*.eml
*.iml
out/
META-INF

#latex and pdf
*.aux
*.log
*.pdf
*.toc
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

#vim derps
*.swp
