div .sportDes {
  display: none;
}

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

.center {
  margin: 0px auto;
}
.halfWidth {
  width: 50%;
}

.googleMap {
  width: 425px;
  height: 350px;
  border: 0px;
  overflow: hidden;
  margin:15px;
  margin-height: 0px;
  margin-width: 0px;
}

.inline{
  display: inline;
}

.paddVert{
  padding: 20px 0px;
}